/* reset */
* {
    box-sizing: border-box;
}
.row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
div[class^='col'] {
    height: 30px;
    background: orange;
}
.col-1 {
    flex: 0 1 100%;   
}
.col-2 {
    flex: 0 1 calc(50% - 30px);
}
.col-3 {
    flex: 0 1 calc(33.33% - 30px);
}
.col-4 {
    flex: 0 1 calc(25% - 30px);
}
.col-5 {
    flex: 0 1 calc(20% - 30px);
}
.col-6 {
    flex: 0 1 calc(16.66% - 30px);
}
.col-7 {
    flex: 0 1 calc(9.09% - 30px);
}
.col-8 {
    flex: 0 1 calc(12.5% - 30px);

}
.col-9 {
    flex: 0 1 calc(11.11% - 30px);
}
.col-10 {
    flex: 0 1 calc(10% - 30px);
}
.col-11 {
    flex: 0 1 calc(9.09% - 30px);
}
.col-12 {
    flex: 0 1 calc(8.33% - 30px);
}